*{
  padding: 0px;
  margin: 0px;

}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}
/* global*/
.container{
    width: 75%;
    margin: auto;
    overflow: hidden;
}

#branding {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;


}



ul{
    list-style: none;
    padding: 0;
    margin: 0;

}



#section-main{
    background: url('image.jpg' ) no-repeat 0 -420px ;
    min-height: 400px;
    color: #fff;
    opacity: 0.8;
}
#section-main h1{
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}
#section-main p{
    font-size: 20px;
    text-align: center;
}
#section-subscribe{
    background-color:  rgba(39, 38, 38, 0.959);
    min-height: 50px;
}
#section-subscribe h1{
    float: left;
    color: #fff;
    font-size: 30px;

}

#section-subscribe form{
    float: right;
    margin-top: 25px;
}

#section-subscribe input[type="email"]{
    padding: 5px;
    width:300px;
    height: 30px;

}
.button-1{
    margin-left: 8px;
    padding: 5px;
    width: 120px;
    height: 30px;
    background-color: rgb(230, 70, 13);
    color: #fff;
    border: none;
    font-size: 15px;
    font: bold;
    margin-top: 10px;

}
.btn-big {
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}

#section-box .Box{
    float: left;
    width: 33%;
    text-align: center;
    padding: 25px;
}
#section-box img{
    width: 100px;
}
#section-box .box1{

    padding: 14px;
}
aside#sidebar{
    float:right;
    width: 35%;
    padding: 20px;
    background-color: rgba(39, 38, 38, 0.959);
    color: #fff;
    margin-top: 50px;

}
article#main-col{
    float:left;
    width:65%;
    padding: 20px;
}
article#main-col{
    float:left;
    width: 60%;
}
ul#serv li{
    list-style: none;
    padding: 10px;
    border:rgb(231, 226, 226) 1px solid;
    margin-bottom: 5px;
    background-color: rgb(231, 226, 226);
}

aside#sidebar-1{
    height: 50%;
    float: right;
    width: 30%;
    padding: 20px;
    background-color:rgba(39, 38, 38, 0.959);
    color: #fff;
    margin-top: 85px;

}
aside#sidebar-1 h1{
    font-size: 30px;
    font-family: serif;
}
aside#sidebar-1 input[type="Message"]{
    height:25px ;
}
article#main-colu{
    float:left;
    width: 60%;
    padding: 20px;
}
aside#sidebar-2{
    float:right;
    width: 40%;

    padding: 20px;
}
aside#sidebar-2 img{
    width: 80%;
}

/*footer*/
.footer {
  background: #309944;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}
.footer .footer-content h1,.footer .footer-content h2 {
  color: white;
}

.footer .footer-content .about h1 span {
  color: #05f7ff;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  border: 1px solid black;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all .3s;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all .3s;
}

.footer .footer-content .links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
  background: #272727;
  color: #bebdbd;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .9rem 1.4rem;
  border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
  background: #1a1a1a;
}

.footer .footer-content .contact-form .contact-btn {
  float: left;
  font-size: 1.1em;
  font-family: 'Lora', serif;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060rem) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}



@media only screen and (max-width: 934px) {
  .content {
    width: 100%;
  }

  .auth-content {
    width: 50%;
  }

  .content .main-content .post {
    width: 100%;
  }

  .content .main-content {
    width: 100%;
    padding: 10px;
  }

  .content .sidebar {
    width: 100%;
    padding: 10px;
  }

  .content .sidebar .section.search {
    margin-top: 30px;
  }
  .footer {
    height: auto;
  }

  .footer .footer-content {
    height: auto;
    flex-direction: column;
  }

  .footer .footer-content .contact-form {
    padding-bottom: 90px;
  }

  .footer .footer-content .contact-form .contact-btn {
    width: 100%;
  }
}

    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
    #section-main h1{
        margin-top:40px;
      }

      #section-subscribe button, .quote button{
        display:block;
        width:100%;
      }

      #section-subscribe form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
      }

}
